body {
  background-color: blueviolet;
}

h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 25px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}
.main {
  padding-top: 120px;
  text-align: center;
}

ul {
  padding-left: 515px;
  padding-top: 20px;
  padding-bottom: 20px;
}
ul li {
  text-align: justify;
  color: #fff;
  font-size: 18px;
  font-weight: 25px;
}

.inputUsername {
  border-radius: 5px;
  font-size: 18px;
  line-height: 25px;
}

.btnFind {
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  background-color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.rodape {
  font-family: Arial, Helvetica, sans-serif;
  color: blueviolet;
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: blueviolet;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}
